# Microbot service example for systemd
#
# INSTRUCTIONS:
# 1. Rename service-systemd.example to [service-name].service and put to /etc/systemd/system
# 2. Enable service with commands:
#    systemctl enable [service-name]
#    systemctl daemon-reload

[Unit]
Description=Microbot Discord service

[Service]
Environment="PATH=~/py-env/bin:$PATH"
WorkingDirectory=/var/api-bots/microbot
ExecStart=/var/bots/microbot/discord.sh
Type=notify

[Install]
WantedBy=default.target
RequiredBy=network.target
