# Microbot service example for systemd
# Rename service-systemd.example to [service-name].service and put to /etc/systemd/system

[Unit]
Description=Microbot Discord service
WorkingDirectory=/var/bots/microbot

[Service]
Environment="PATH=/home/[user]/py-env/bin:$PATH"
ExecStart=/var/bots/microbot/discord.sh
Type=notify

[Install]
WantedBy=default.target
RequiredBy=network.target
