#!/sbin/openrc-run
# Microbot service example for OpenRC
#
# INSTRUCTIONS:
# 1. Rename service-openrc.example to [service-name] and put to /etc/user/init.d
# 2. Enable service with command:
# 	ln -s /etc/user/init.d/microbot /etc/init.d/microbot
# 	rc-update add /etc/user/init.d/microbot

name="microbot-discord"
description="Tinelix Microbot for Discord service"
command_user="tretdm" 		# User (not-root)

start_pre()
{
	cd /var/bots/microbot	# Change working directory
}

start() {
	echo "Microbot for Discord running as daemon..." 
	PATH=~/py-env/bin:$PATH			# Add Python with Virtual Environment path
	/var/bots/microbot/discord.sh & 	# Running Python process as daemon
	sleep 5					# Required delay before bot start
	BOT_PID=$!
	echo " Status: Running service at PID ${BOT_PID}"        
}
